<h1> New Article </h1>
<%= form_for @article do |f| %>
<div class="form-field">
    <%= f.label :title %>: <br/>
    <%= f.text_field :title %>
</div><br />

<div class="form-field">
    <%= f.label :description %>: <br/>
    <%= f.text_area :description %>
</div><br />

<div class="form-field">
    <%= f.submit %>
</div>
<% end %> 